* {
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: white;
}

nav {
    position: absolute;
    left: 0;
}

.reels-bg {
    display: none;
}

.reels-wrapper {
    width: 100%;
}

.reels-inner {
    position: relative;
    z-index: 2
}

.reels-carousel {
    height: 100vh;
    overflow: hidden;
}

.vol-controls {
	display: flex;
	align-items: center;
    position: absolute;
    right: 0;
    z-index: 2;
    padding: 1em;
}

.reel {
    height: 100%;
    position: relative;
}

.reel > .content {
    height: 100%;
    background: black;
}

.reel img,
.reel .video-js {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.reels-inner .content-description {
    position: absolute;
    bottom: 0;
    padding: 1em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8), 0 0 2px rgba(0, 0, 0, 1);
}

@media (min-width: 57em) {
    nav {
        position: fixed;
    }
}

@media (min-width: 47em) {
    .reels-bg {
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
    }

    .reels-bg > img,
    .bg-player .vjs-tech {
        position: absolute;
        width: 100%;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        object-fit: contain;

        -webkit-filter: blur(15px);
        -moz-filter: blur(15px);
        -o-filter: blur(15px);
        -ms-filter: blur(15px);
        filter: blur(15px);

        opacity: 0.8;
        transform: scale(2);
    }

    .reels-inner {
        max-width: 46.875em;
        margin: 0 auto;
    }

    .vol-bar {
        width: 0;
        visibility: hidden;
        opacity: 0;
        transition: all .5s ease-out;
    }

    .vol-bar-hovered {
        opacity: 1;
        visibility: visible;
        width: 100px;
        transition: all .5s ease-in;
    }

    .vol-indicator {
        display: flex;
        align-items: center;
        height: 30px;
        width: 30px;
        margin-left: 10px;
        -webkit-filter: drop-shadow( 0px 0px 2px rgba(0, 0, 0, .7));
        filter: drop-shadow( 0px 0px 2px rgba(0, 0, 0, .7));
    }

}